<div class="home-page-wrapper">

  <div class="row">
    <div class="row-item">
      <div class="row">
        <input class="row-item to-destination" type="text">
      </div>
    </div>
    <div class="row-item">
        <div class="radio-buttons">
            <label for="html">one way</label>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="css">two ways</label>
            <input type="radio" id="css" name="fav_language" value="CSS">
        </div>
        <input class="row-item from-destination" type="text">
      </div>
    </div>
</div>
